#numForm, H3 {
	display: inline;
}

form {
	padding: 25px;
}

input[type=button] {
	margin-left: 25px;
}

table {
	display: inline-block;
	width: 40%;
	background-color: #ECF1EF;
	border-radius: 10px;
	margin: 25px;
	padding: 10px;
}

